#NavBar {
    background-color: #2A5678;
    padding: 10px;
    color: white;
}

#NavBar span {
    font-weight: bold;
}

#NavBar a {
    float: right;
    color: white;
}

.icon {
    margin-right: 10px;
}

