:root {
    --slate-blue: #2A5678;
}

#NavBar {
    background-color: var(--slate-blue);
    padding: 10px;
    color: white;
}

#NavBar span {
    font-weight: bold;
}

#NavBar a {
    float: right;
    color: white;
}

