.userCities {
    display: flex;
}

.feedCity {
    margin-right: 15px;
}

.pin {
    margin-bottom: 3px;
}

.list-group-item{
    position: relative;
}

.friend {
    position: relative;
}


.userFeed, .recommended {
    margin: 10px;
}

.userFeedHeader {
    display: flex;
    position: relative;
}

.filterButton {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 60px;
    margin-bottom: 5px;
    left: auto;
    bottom: auto;
}
